includes:
    - phar://phpstan.phar/conf/config.level8.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/shipmonk/phpstan-rules/rules.neon

parameters:
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/Fixtures/Compat
    checkMissingCallableSignature: true
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkBenevolentUnionTypes: true

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        checkedExceptionClasses:
            - ShipMonk\DoctrineEntityPreloader\Exception\RuntimeException

    ignoreErrors:
        -
            message: '#Strict comparison using === between ReflectionProperty and null will always evaluate to false#'
            identifier: 'identical.alwaysFalse'
            reportUnmatched: false
            path: 'src/EntityPreloader.php'
        -
            message: '#internal interface Doctrine\\ORM\\Mapping\\PropertyAccessors\\PropertyAccessor#' # internal, although returned from public ClassMetadata::getPropertyAccessor
            reportUnmatched: false # only new Doctrine
            path: 'src/EntityPreloader.php'
        -
            message: '#Doctrine\\ORM\\Mapping\\PropertyAccessors\\PropertyAccessor#'
            reportUnmatched: false # only old Doctrine
            identifier: class.notFound
            path: 'src/EntityPreloader.php'
        -
            message: '#Call to function method_exists#'
            reportUnmatched: false # only new Doctrine
            identifier: function.alreadyNarrowedType
            path: 'src/EntityPreloader.php'
        -
            identifier: shipmonk.defaultMatchArmWithEnum
            reportUnmatched: false # only new dbal issue
            path: 'src/EntityPreloader.php'
        -
            message: '#Result of \|\| is always false#'
            identifier: 'booleanOr.alwaysFalse'
            reportUnmatched: false
            path: 'src/EntityPreloader.php'
        -
            identifier: 'property.onlyWritten'
            path: 'tests/Fixtures/Synthetic'
        -
            identifier: 'property.uninitialized'
            path: 'tests/Fixtures/Synthetic'
        -
            identifier: 'property.unused'
            path: 'tests/Fixtures/Synthetic'
        -
            identifier: 'property.unusedType'
            reportUnmatched: false
            path: 'tests/Fixtures/Synthetic'
