rules:
    - ShipMonk\DoctrineEntityPreloader\PHPStan\EntityPreloaderRule

services:
    -
        class: ShipMonk\DoctrineEntityPreloader\PHPStan\EntityPreloaderReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
